{% block announcement_content %}
    <div class="announcement-content text-center">
        {# {{ theme_config("sw-text-announcements")|raw }} #}
        {#        {{ dump(vinaturel.header.announcementsInfo) }}#}
        <p class="announcements-info">{{ "header.announcementsInfo"|trans|raw }}</p>
    </div>
{% endblock %}
